.background-purple{
    background: #00010d;
}
.background-black{
    background: #000000;
}
.for-hr{
    height: 3px;
    background: #ffffff;
}
.pad20updown{
    padding-bottom: 20px;
    padding-top: 20px;
}
.pad50updown{
    padding-bottom: 50px;
    padding-top: 50px;
}